<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>作品 - 深圳市卡扑动漫设计有限公司</title>
    <meta name="keywords" content="深圳市卡扑动漫设计有限公司" />
    <meta name="description" content="深圳市卡扑动漫设计有限公司" />
</head>

<body class="inner-page">
    <div class="page-works">
        <div class="page-works-mask"></div>
        <div class="page-works-mobile-mask mobileOnly"></div>
        <%= require('@/global.ejs')() %>
        <div class="page-works-bd">
            <div class="categories">
                <div class="categories-hd mobileOnly">
                    <span>全部</span>
                </div>
                <div class="categories-bd">
                    <a class="categories-item active" href="/video/0.html">全部</a><br/>
                    <a class="categories-item" href="/video/1.html">2D CG</a>
                    <a class="categories-item" href="/video/2.html">3D CG</a><br/>
                    <a class="categories-item" href="/video/3.html">影视CG</a>
                    <a class="categories-item" href="/video/1003.html">美术海报</a><br/>
                    <a class="categories-item" href="/video/1005.html">线下舞台</a>
                    <a class="categories-item" href="/video/1006.html">剪辑包装</a><br/>
                    <a class="categories-item" href="/video/1007.html">实拍后制</a>
                    <a class="categories-item" href="/video/1008.html">H5</a><br/>
                    <a class="categories-item" href="/video/1009.html">Q萌卡通</a>
                    <a class="categories-item" href="/video/1010.html">古典国风</a><br/>
                    <a class="categories-item" href="/video/1011.html">水墨国风</a>
                    <a class="categories-item" href="/video/1020.html">三渲二</a><br/>
                    <a class="categories-item" href="/video/1012.html">二次元</a>
                    <a class="categories-item" href="/video/1013.html">美式厚涂</a><br/>
                    <a class="categories-item" href="/video/1014.html">lowpoly</a>
                    <a class="categories-item" href="/video/1015.html">现代科幻</a><br/>
                    <a class="categories-item" href="/video/1016.html">西方奇幻</a>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                    <span class="categories-item-placeholder"></span>
                </div>
            </div>
            <div class="work-list">
                <!-- 图片集项目 如下传参， data-src-images 为 image url list, 用 ',' 分隔多张图片, js 会根据逗号解析 -->
                <div class="work-list-item" data-type="image" data-src-images="http://www.hugeclaw.com/upload/202005/19/202005191812065787.jpg,http://www.hugeclaw.com/upload/202006/01/202006011818584854.png,http://www.hugeclaw.com/upload/202006/05/202006051404485592.jpg,http://www.hugeclaw.com/upload/202006/05/202006051405222781.jpg">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202006/05/202006051722047067.png" alt="">
                        </div>
                    </a>
                </div>
                <!-- 视频项目如下传参 -->
                <div class="work-list-item" data-type="video" data-src-video="http://player.youku.com/embed/XNDY5MTM3NjczNg?autoplay=false">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202005/09/202005091035224187.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item" data-type="image" data-src-images="http://www.hugeclaw.com/upload/202006/05/202006051405222781.jpg,http://www.hugeclaw.com/upload/202005/19/202005191812065787.jpg,http://www.hugeclaw.com/upload/202006/01/202006011818584854.png,http://www.hugeclaw.com/upload/202006/05/202006051404485592.jpg">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202006/05/202006051728356840.jpg" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item" data-type="video" data-src-video="http://player.youku.com/embed/XNDQxMjI1ODI5Mg?autoplay=false">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202006/05/202006051728245276.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202004/30/202004301428094697.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202004/30/202004301413507544.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202004/30/202004301429566117.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202006/05/202006051728142619.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202006/05/202006051729514912.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202006/05/202006051726587453.jpg" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202006/05/202006051458576569.png" alt="">
                        </div>
                    </a>
                </div>
                <div class="work-list-item">
                    <a class="work-list-item-wrap">
                        <div class="hd">
                            <h3 class="title">卡扑动漫设计</h3>
                            <div class="description">卡扑动漫设计有限公司</div>
                        </div>
                        <div class="bd">
                            <img src="http://www.hugeclaw.com/upload/202004/30/202004301419394955.png" alt="">
                        </div>
                    </a>
                </div>
            </div>

            <!-- images modal -->
            <div class="modal images-modal">
                <div class="modal-mask"></div>
                <div class="modal-bd">
                    <div class="images-viewer">
                        <div class="modal-close"></div>
                        <div class="swiper-container">
                            <!-- Additional required wrapper -->
                            <div class="swiper-wrapper"></div>
                            <!-- If we need pagination -->
                            <div class="swiper-pagination"></div>
                        
                            <!-- If we need navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end images modal -->

            <!-- video modal -->
            <div class="modal video-modal">
                <div class="modal-mask"></div>
                <div class="modal-bd">
                    <div class="video-viewer">
                        <div class="video-viewer-container">
                            <div class="modal-close"></div>
                            <div class="video-viewer-bd"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end video modal -->
        </div>
    </div>
</body>

</html>