<!-- header -->
<div class="header">
    <a class="header-logo" href="./"></a>
    <nav class="header-nav">
        <a href="./" class="header-nav-item header-nav-item01"></a>
        <a href="./works.html" class="header-nav-item header-nav-item02"></a>
        <a href="./projects.html" class="header-nav-item header-nav-item03"></a>
        <a href="./about.html" class="header-nav-item header-nav-item04"></a>
        <a href="./join.html" class="header-nav-item header-nav-item05"></a>
        <a href="./contact.html" class="header-nav-item header-nav-item06"></a>
    </nav>
</div>

<div class="mobile-header mobileOnly">
    <a class="mobile-header-logo" href="./"></a>
    <div class="mobile-header-nav-icon"></div>
</div>

<div class="mobile-header-mask mobileOnly"></div>
<nav class="mobile-header-nav mobileOnly">
    <div class="mobile-header-close"></div>
    <a href="./" class="mobile-header-nav-item">主页</a>
    <a href="./works.html" class="mobile-header-nav-item">作品</a>
    <a href="./projects.html" class="mobile-header-nav-item">原作</a>
    <a href="./about.html" class="mobile-header-nav-item">关于</a>
    <a href="./join.html" class="mobile-header-nav-item">加入</a>
    <a href="./contact.html" class="mobile-header-nav-item">联系</a>
</nav>
<!-- end header -->